body{
  margin: 0;
}

ul{
  font-family: arial;
  list-style-type: none;
  margin: 0;
  padding: 0;
  position: sticky;
  background-color: #333;
  overflow: hidden;
}

ul li{
  float: left;
}

ul li a{
  display: block;
  color: white;
  text-align:center;
  padding: 20px 20px;
  text-decoration: none;
  transition: color .2s linear;
}

ul li:hover a{
  color: red;
}
/* ul li a:hover:not(.active){
  background-color: #111;
}

ul li a.active{
  background-color: blue;
  font-size: 20px;
}
 */
@media screen and (max-width:600px){
  ul li {
    float:none;
  }
}